<nav>
  <div class="container">
    <div class="navbar">
      <div class="logo">
        <a href="/"><img src="img/logo3.png" alt="B-HANZ" width="125px" /></a>
      </div>
      <input type="text" id="search" name="search" placeholder="Search..">
      <button type="submit" class="search-button">Go</button>
      <ul id="MenuItems">
        <li><a href="/">Home</a></li>
        <li><a href="product.html">Products</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="/contact.html">Contact Us</a></li>
        <li><a href="account.html">Account</a></li>
      </ul>
      <a href="cart.html"></a>
      <a href="cart.html"><img src="https://i.ibb.co/PNjjx3y/cart.png" style="background-color:#ffffff;" alt=""
          width="30px" height="30px" /></a>
      <section>
        <a href="/signup">
          <button>Sign Up</button>
        </a>
        <img src="https://i.ibb.co/6XbqwjD/menu.png" alt="" class="menu-icon" onclick="menutoggle()" />
        <a href="/login">
          <button>Login</button>
        </a>
      </section>
    </div>
  </div>
</nav>